<app-header></app-header>
<div class="full-screen bg-ligth">
  <div class="heigth-100 mar-x-2">
    <div class="flex-halfs">
      <h1><span>My</span>Notes</h1>
      <div class="carta p-shadow-22 animate__animated animate__fadeInLeft">
        <h4 class="title-carta">Tu app de notas</h4>
        <p class="card-para">
          My Notes es tu app de notas con sincrinización de sesiones y
          almacenamiento en la nube, My Notes, es tu app de notas.
        </p>
        <button
          pButton
          pRipple
          type="button"
          label="Registrate"
          [routerLink]="['/register']"
          class="p-button-raised p-button-lg btn-mar-left"
        ></button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
